<header class="sticky top-0 z-50">
  <nav [ngClass]="currentRoute === '/' ? 'light-navbar' : 'dark-navbar'">
    @if (currentRoute === "/") {

      <div class="container mx-auto flex flex-col justify-center items-center lg:flex-row">
        <div class="w-full lg:w-auto flex items-center max-lg:justify-between gap-5 px-3">
          <a routerLink="/" class="flex items-center gap-2 w-50">
            <img src="./assets/images/colibrihub.jpeg" alt="Colibrihub-Systems" class="w-10 h-10 rounded-md">
            <p class="text-purple-700 font-bold">{{ appTitle }}</p>
          </a>
          <!--Hamburguer button-->
          <button (click)="toggleMenu()" type="button" class="btn btn-icon lg:hidden">
            @if (isMenuOpen) {
              <lucide-angular [img]="x" class="text-purple-700"></lucide-angular>
            } @else {
              <lucide-angular [img]="menu" class="text-purple-700"></lucide-angular>
            }
          </button>
        </div>

        <div class="border border-gray-300 backdrop-blur bg-white/70 dark:bg-dark-800/70 shadow-lg lg:border-none lg:shadow-none lg:bg-[inherit] rounded-md w-full p-2 ltr:mr-auto rtl:ml-auto" [ngClass]="{ 'hidden lg:flex': !isMenuOpen }">
          <app-link-content></app-link-content>
        </div>
        <!--      Session Button-->
        <div class="hidden lg:flex lg:gap-3">
          <session-button class="hidden btn-active-gray md:inline-block"></session-button>
          <button type="button" routerLink="/signup" class="hidden btn btn-sub-primary md:inline-block">Registrarme
          </button>
        </div>
      </div>
    } @else {
      <div class="container mx-auto flex items-center justify-between">
        <a routerLink="/" title="logo" class="text-purple-300 font-bold">
        <div class="flex items-center gap-5">
          <app-title></app-title>
        </div>
        </a>
      </div>
    }
  </nav>
</header>
