<header>
  <nav [ngClass]="currentRoute === '/' ? 'light-navbar' : 'dark-navbar'">
    @if (currentRoute === "/") {

      <div class="container mx-auto flex flex-col lg:flex-row lg:items-center">
        <div class="w-full lg:w-auto flex max-lg:justify-between gap-5 px-3">
          <a routerLink="/" title="logo">
            <img ngSrc="assets/images/main-logo.png" alt="" class="object-contain inline-block h-7 w-full"
                 height="221" width="1211">
          </a>
          <!--Hamburguer button-->
          <button (click)="toggleMenu()" type="button" class="btn btn-icon lg:hidden">
            @if (isMenuOpen) {
              <lucide-angular [img]="x" class="text-purple-700"></lucide-angular>
            } @else {
              <lucide-angular [img]="menu" class="text-purple-700"></lucide-angular>
            }
          </button>
        </div>
        <div class="border border-gray-300 backdrop-blur bg-white/70 dark:bg-dark-800/70 shadow-lg lg:border-none lg:shadow-none lg:bg-[inherit] rounded-md w-full p-2 ltr:mr-auto rtl:ml-auto" [ngClass]="{ 'hidden lg:flex': !isMenuOpen }">
          <app-link-content></app-link-content>
        </div>
        <!--      Session Button-->
        <div class="hidden lg:flex lg:gap-3">
          <session-button class="hidden btn-active-gray md:inline-block"></session-button>
          <button type="button" routerLink="/signup" class="hidden btn btn-sub-primary md:inline-block">Registrarme
          </button>
        </div>
      </div>
    } @else {
      <div class="container mx-auto flex items-center justify-between">
        <div class="flex items-center gap-5">
          <a routerLink="/" title="logo">
            <img ngSrc="assets/images/logo-white.png" alt="" class="object-contain h-7 inline-block w-full" height="221"
                 width="1211">
          </a>
        </div>
      </div>
    }
  </nav>
</header>
