<button class="btn btn-active-gray">
    <auth>
        <div valid>
            <span routerLink="/logout">Cerrar sesión</span>
        </div>
        <div invalid class="btn-icon">
            <lucide-angular [img]="user"></lucide-angular>
            <span routerLink="/login">Iniciar sesión</span>
        </div>
    </auth>
    <!-- @if (isValid()) {
        <span routerLink="/logout">Cerrar sesión</span>
    } @else {
        <span routerLink="/login">Iniciar sesión</span>
    } -->
</button>
