<button class="btn btn-icon">
    <auth>
        <div valid>
            <span routerLink="/logout">Cerrar sesión</span>
        </div>
        <div invalid routerLink="/login" (click)="backToTop()" class="btn-icon">
            <lucide-angular [img]="user"></lucide-angular>
            <span>Iniciar sesión</span>
        </div>
    </auth>
    <!-- @if (isValid()) {
        <span routerLink="/logout">Cerrar sesión</span>
    } @else {
        <span routerLink="/login">Iniciar sesión</span>
    } -->
</button>
