  <div
    class="flex flex-col lg:flex-row lg:items-center *:py-3 lg:py-0 lg:*:px-3 *:inline-block *:text-16 *:tracking-wide *:font-medium">
    <a href="javascript:void(0);" (click)="scrollToSection('pros')"
       [class.active]="currentSection === 'pros'"
       class="leading-normal [&.active]:text-purple-500 hover:text-purple-500 transition duration-300 ease-linear">Pros</a>
    <a href="javascript:void(0);" (click)="scrollToSection('pricing')"
       [class.active]="currentSection === 'pricing'"
       class="leading-normal [&.active]:text-purple-500 hover:text-purple-500 transition duration-300 ease-linear">Pricing</a>
    <a href="javascript:void(0);" (click)="scrollToSection('modulos')"
       [class.active]="currentSection === 'modulos'"
       class="leading-normal [&.active]:text-purple-500 hover:text-purple-500 transition duration-300 ease-linear">Módulos</a>
    <a href="javascript:void(0);" (click)="scrollToSection('faqs')"
       [class.active]="currentSection === 'faqs'"
       class="leading-normal [&.active]:text-purple-500 hover:text-purple-500 transition duration-300 ease-linear">FAQ's</a>
  </div>
