<footer class="relative bg-gray-900 dark:bg-dark-900">
  <div class="py-12 lg:py-20">
    <div class="container mx-auto px-4">
      <div class="grid grid-cols-12 gap-6">
        <div class="col-span-12 xl:col-span-6">
          <div class="max-w-lg">
            <app-title></app-title>

            <p class="mt-4 mb-6 text-gray-500 dark:text-dark-500 text-16">Colibrihub Systems es una empresa de tecnología dedicada a la producción de software de máxima calidad. Nos enfocamos en la innovación y la excelencia, ofreciendo soluciones robustas y confiables, comprometidos con la innovacion digital del momento.</p>
          </div>
        </div>

        <div>
          <h6 class="mb-4 font-bold text-gray-200 dark:text-dark-200 text-17">Módulos</h6>
          <ul class="flex max-md:flex-wrap gap-8 text-16">
            <li><a href="javascript:void(0);" class="link link-primary">Inventario</a></li>
            <li><a href="javascript:void(0);" class="link link-primary">Facturación</a></li>
            <li><a href="javascript:void(0);" class="link link-primary">Clientes</a></li>
            <li><a href="javascript:void(0);" class="link link-primary">Promociones</a></li>
            <li><a href="javascript:void(0);" class="link link-primary">Lealtad</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container mx-auto px-4">
    <div class="py-6 text-gray-500 dark:text-dark-500 text-16">
      <p>
        &copy; <span>{{ currentYear }}</span>
      </p>
    </div>
  </div>
</footer>
