9<section class="w-full">
  <section class="relative pt-40 pb-20 overflow-hidden xl:pb-48 2xl:pt-50">
    <div class="container mx-auto px-4 text-center">
      <div class="grid grid-cols-12 lg:gap-x-16">
        <div class="col-span-12 xl:col-span-5" data-aos="fade-up" data-aos-duration="2000">
          <h2 class="mb-2 font-semibold text-4xl leading-normal xl:leading-normal xl:text-5xl">Bienvenido a <span class="text-purple-500">Colibrihub Systems</span></h2>
          <p class="mb-5 text-lg text-gray-500 dark:text-dark-500">Reportería, registro de facturas, clientes, modulos de lealtad y promociones para servir a tu negocio como debe ser.</p>
          <div class="flex flex-wrap items-center gap-3">
          </div>
        </div>
        <div class="col-span-12 mt-8 xl:col-span-6 xl:col-start-7 md:mt-10 xl:mt-0">
          <div>
            <img ngSrc="assets/images/email/promociones1.jpg" alt="" class="relative dark:hidden xl:scale-[1.8] border border-gray-200 dark:border-dark-800 rounded-lg ltr:xl:-right-44 rtl:xl:-left-44 xl:top-16 2xl:top-auto"
                 height="714" width="1406" priority>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section
    class="relative py-12 md:py-24 bg-gray-50 dark:bg-dark-900/50"
    id="services"
  >
    <div class="container mx-auto px-4">
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-space">
        <div data-aos="fade-up" data-aos-duration="2000">
          <div
            class="flex items-center shadow shadow-lg justify-center p-4 mb-4 bg-dark-900 border border-purple-500 rounded-lg size-14 dark:bg-dark-900 "
          >
            <lucide-angular
              [img]="checkLine"
              class="home-icon-style"
            ></lucide-angular>
          </div>
          <h5 class="mb-1">Profesionalismo</h5>
          <p class="mb-4 text-gray-500 dark:text-dark-500 text-16">
            Asegura eficiencia, control total y una gestión transparente orientada al cliente y al crecimiento.           </p>
        </div>
        <div data-aos="fade-up" data-aos-duration="2000">
          <div
            class="flex items-center justify-center shadow shadow-lg p-4 mb-4 bg-dark-900 border border-purple-500 rounded-lg size-14 dark:bg-dark-900"
          >
            <lucide-angular
              [img]="arrowUp"
              class="home-icon-style"
            ></lucide-angular>
          </div>
          <h5 class="mb-1">Crecimiento</h5>
          <p class="mb-4 text-gray-500 dark:text-dark-500 text-16">
            Un sistema modular e integrado está diseñado para crecer contigo. Permite manejar un mayor volumen de transacciones, inventario y clientes sin perder eficiencia, facilitando la expansión del negocio.
          </p>
        </div>
        <div data-aos="fade-up" data-aos-duration="2000">
          <div
            class="flex items-center justify-center shadow shadow-lg p-4 mb-4 bg-dark-900 border border-purple-500 rounded-lg size-14 dark:bg-dark-900"
          >
            <lucide-angular
              [img]="calendarSync"
              class="home-icon-style"
            ></lucide-angular>
          </div>
          <h5 class="mb-1">Automatización</h5>
          <p class="mb-4 text-gray-500 dark:text-dark-500 text-16">
            La automatización de tareas manuales (cálculo de facturas, actualización de inventario) reduce la necesidad de personal administrativo y minimiza los errores costosos.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="relative py-12 md:py-24" id="pricing">
    <div class="container mx-auto px-4">
      <div class="max-w-3xl mx-auto mb-12 text-center">
        <h2 class="mb-3 leading-normal capitalize font-semibold text-3xl">Planes de pago</h2>
        <p class="text-gray-500 dark:text-dark-500 text-16">Encuentra el mejor plan para tu empresa o emprendimiento.</p>
      </div>

      <div class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3">
        <div class="relative overflow-hidden card" data-aos="fade-up" data-aos-duration="2000">
          <div class="absolute border-[40px] border-gray-100 dark:border-dark-850 size-64 -bottom-16 -right-16 rounded-creative">
          </div>
          <div class="relative lg:p-8 card-body">
            <div class="mb-8 text-center">
              <h5 class="mb-1 font-semibold">Free</h5>
              <p class="mb-6 text-gray-500 dark:text-dark-500">Modo de prueba</p>
              <h1>$0<sub class="text-sm text-gray-500 dark:text-dark-500">/month</sub></h1>
            </div>
            <button type="button" class="w-full btn btn-sub-gray">Get Started for free</button>
            <ul class="space-y-4 *:flex *:items-center *:gap-2 mt-7">
              <li>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-corner-down-right-icon lucide-corner-down-right"><path d="m15 10 5 5-5 5"/><path d="M4 4v7a4 4 0 0 0 4 4h12"/></svg>
                500
                Transacciones
              </li>
              <li>
                5
                Acciones de Automatización
              </li>
              <li>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-corner-down-right-icon lucide-corner-down-right"><path d="m15 10 5 5-5 5"/><path d="M4 4v7a4 4 0 0 0 4 4h12"/></svg>
                1
                Productos y proyectos
              </li>
              <li>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-x-icon lucide-x"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg>
                Permisos personalizados
              </li>
              <li>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-x-icon lucide-x"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg>
                Integración Básica
              </li>
              <li>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-x-icon lucide-x"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg>
                Hasta 5 miembros
              </li>
              <li>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-x-icon lucide-x"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg>
                Soporte
                24/7
              </li>
            </ul>
          </div>
        </div>
        <div class="relative overflow-hidden card active group" data-aos="fade-up" data-aos-duration="2000">
          <div class="absolute border-[40px] border-gray-100 dark:border-dark-850 size-64 -bottom-16 -right-16 rounded-creative">
          </div>
          <div class="relative lg:p-8 card-body">
            <div class="absolute right-0 lg:right-2 lg:top-2 badge badge-pink">Popular Plan</div>
            <div class="mb-8 text-center">
              <h5 class="mb-1">Professional</h5>
              <p class="mb-6 text-gray-500">Para profesionales & equipos pequeños</p>
              <h1>$29.99<sub class="text-sm text-gray-500">/month</sub></h1>
            </div>
            <button type="button" class="w-full btn btn-primary">Get Started</button>
            <ul class="space-y-4 *:flex *:items-center *:gap-2 mt-7">
              <li>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-corner-down-right-icon lucide-corner-down-right"><path d="m15 10 5 5-5 5"/><path d="M4 4v7a4 4 0 0 0 4 4h12"/></svg>

                2000 Transacciones
              </li>
              <li>
                20
                Acciones de Automatización
              </li>
              <li>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-corner-down-right-icon lucide-corner-down-right"><path d="m15 10 5 5-5 5"/><path d="M4 4v7a4 4 0 0 0 4 4h12"/></svg>

                1
                Productos y proyectos
              </li>
              <li>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-corner-down-right-icon lucide-corner-down-right"><path d="m15 10 5 5-5 5"/><path d="M4 4v7a4 4 0 0 0 4 4h12"/></svg>

                Permisos personalizables
              </li>
              <li>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-x-icon lucide-x"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg>
                Integración básica
              </li>
              <li>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-x-icon lucide-x"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg>
                Hasta 5 miembros
              </li>
              <li>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-x-icon lucide-x"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg>
                Soporte 24/7
              </li>
            </ul>
          </div>
        </div>
        <div class="relative overflow-hidden card" data-aos="fade-up" data-aos-duration="2000">
          <div class="absolute border-[40px] border-gray-100 dark:border-dark-850 size-64 -bottom-16 -right-16 rounded-creative">
          </div>
          <div class="relative lg:p-8 card-body">
            <div class="mb-8 text-center">
              <h5 class="mb-1">Organization</h5>
              <p class="mb-6 text-gray-500 dark:text-dark-500">Ideal para pequeñas empresas</p>
              <h1>Contáctanos</h1>
            </div>
            <button type="button" class="w-full btn btn-sub-gray">Contact Us</button>
            <ul class="space-y-4 *:flex *:items-center *:gap-2 mt-7">
              <li>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-corner-down-right-icon lucide-corner-down-right"><path d="m15 10 5 5-5 5"/><path d="M4 4v7a4 4 0 0 0 4 4h12"/></svg>
                 Transacciones ilimitadas
              </li>
              <li>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-corner-down-right-icon lucide-corner-down-right"><path d="m15 10 5 5-5 5"/><path d="M4 4v7a4 4 0 0 0 4 4h12"/></svg>
                Automatización Ilimitada
              </li>
              <li>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-corner-down-right-icon lucide-corner-down-right"><path d="m15 10 5 5-5 5"/><path d="M4 4v7a4 4 0 0 0 4 4h12"/></svg>
                1
                Productos & proyectos
              </li>
              <li>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-corner-down-right-icon lucide-corner-down-right"><path d="m15 10 5 5-5 5"/><path d="M4 4v7a4 4 0 0 0 4 4h12"/></svg>
                Accesso a todas las características
              </li>
              <li>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-corner-down-right-icon lucide-corner-down-right"><path d="m15 10 5 5-5 5"/><path d="M4 4v7a4 4 0 0 0 4 4h12"/></svg>
                Contrato flexible
              </li>
              <li>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-corner-down-right-icon lucide-corner-down-right"><path d="m15 10 5 5-5 5"/><path d="M4 4v7a4 4 0 0 0 4 4h12"/></svg>
                Advanced Integration
              </li>
              <li>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-corner-down-right-icon lucide-corner-down-right"><path d="m15 10 5 5-5 5"/><path d="M4 4v7a4 4 0 0 0 4 4h12"/></svg>
                Soporte 24/7
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="relative md:pb-28" id="features">
    <div class="container mx-auto px-4">
      <div class="max-w-3xl mx-auto mb-12 text-center">
        <h2 class="mb-3 leading-normal mt-23">Módulos de Colibrihub Systems</h2>
      </div>
      <div class="grid grid-cols-12 gap-x-space">
        <div class="col-span-12 row-span-2 text-center bg-gray-100 dark:bg-dark-900/40 md:col-span-3 card">
          <div class="card-body">

            <h6 class="mt-4 mb-4">Módulo de Clientes</h6>
            <img ngSrc="assets/images/email/clientes2.jpg" alt="clientes" class="w-full rounded-md dark:hidden" height="460" width="428" priority>
            <img ngSrc="assets/images/email/clientes1.jpg" alt="clientes" class="w-full rounded-md dark:hidden" height="460" width="428" priority>
          </div>
        </div>
        <div class="col-span-12 row-span-2 text-center bg-gray-100 dark:bg-dark-900/40 md:col-span-5 card">
          <div class="card-body">
            <h6 class="mt-4 mb-4">Módulo de Promociones</h6>
            <img ngSrc="assets/images/email/promociones1.jpg" alt="promociones" class="w-full rounded-md dark:hidden" height="460" width="428" priority>
            <h6 class="mt-4 mb-4">Módulo de Inventario</h6>
            <img ngSrc="assets/images/email/inventario1.jpg" alt="inventario" class="w-full rounded-md dark:hidden" height="596"
                 width="306" priority>
            <img ngSrc="assets/images/email/inventario2.jpg" alt="inventario" class="w-full rounded-md dark:hidden" height="596"
                 width="306" priority>
          </div>
        </div>
        <div class="col-span-12 text-center bg-gray-100 dark:bg-dark-900/40 md:col-span-4 card">
          <div class="space-y-8 card-body">
            <div>
              <h6 class="mt-4 mb-4">Módulo de Lealtad</h6>
              <img ngSrc="assets/images/email/lealtad1.jpg" alt="lealtad" class="w-full rounded-md mb-2 dark:hidden" height="308"
                   width="660">
              <img ngSrc="assets/images/email/lealtad2.jpg" alt="lealtad" class="w-full rounded-md dark:hidden" height="308"
                   width="660">
            </div>

            <div>
              <h6 class="mt-4 mb-4">Módulo de Facturación</h6>
              <img ngSrc="assets/images/email/facturacion1.jpg" alt="facturacion" class="w-full rounded-md mb-2 dark:hidden" height="506"
                   width="660">
              <img ngSrc="assets/images/email/facturacion2.jpg" alt="facturacion" class="w-full rounded-md"
                   height="506" width="660">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="relative py-12 md:py-24 bg-dark-900" id="faq">
    <div class="container mx-auto px-4">
      <div class="max-w-3xl mx-auto mb-12 text-center">
        <h2 class="mb-3 leading-normal text-white capitalize">FAQ's</h2>
      </div>
      <div class="grid grid-cols-12">
        <div class="col-span-12 lg:col-span-8 lg:col-start-3">
          @for(item of accordionItems; track $index) {
            <div class="relative border-b border-gray-200 dark:border-dark-800 last:border-0">
              <!-- Accordion Header -->
              <button type="button"
                      class="block w-full px-4 py-4 font-medium transition duration-200 ease-linear md:px-5"
                      (click)="toggleItem($index)" [ngClass]="{
                'text-purple-400 bg-indigo-950 dark:bg-dark-900/30 dark:text-dark-500': selected === $index,
                'text-white': selected !== $index
              }">
                <div class="flex items-center justify-between">
                  <span>{{ item.title }}</span>
                  @if (selected !== $index) {
                    <span class="text-white dark:text-dark-500"><lucide-angular [img]="chevronDown" class="size-5"></lucide-angular>
                    </span>
                  }
                  @if (selected === $index) {
                    <span class="text-purple-400 dark:text-dark-500">
                      <lucide-angular [img]="chevronUp" class="size-5"></lucide-angular>
                    </span>
                  }
                </div>
              </button>
            </div>
            @if (selected === $index) {
              <div class="relative bg-white border-b border-gray-200 dark:border-dark-800 last:border-0">
                <!-- Accordion Content -->
                <div class="relative overflow-hidden transition-all duration-700">
                  <div class="p-5 text-gray-500 dark:text-dark-500">
                    @if (item.contentType === 'text') {
                      <p>{{ item.content }}</p>
                    }
                    @if (item.contentType === 'list' && isArray(item.content)) {
                      <h6 class="mb-2">{{ item.header }}</h6>
                      <ol class="space-y-2 list-decimal list-inside">
                        @for (listItem of item.content; track $index) {
                          <li>{{ listItem }}</li>
                        }
                      </ol>
                    }
                  </div>
                </div>
              </div>
            }
          }
        </div>
      </div>
    </div>
  </section>

  <section class="relative pt-12 overflow-hidden md:pt-24 bg-gray-50 dark:bg-dark-900/50" id="updates">
    <div class="container mx-auto px-4">
      <div class="max-w-3xl mx-auto mb-10 text-center">
        <h2 class="mb-3 leading-normal">Disfruta de la mejor gestión en todo momento</h2>
        <p class="text-gray-500 dark:text-dark-500 mb-7 text-16">Tu información al alcance de tu mano en el momento que desees.</p>
      </div>
      <div class="grid grid-cols-12">
        <div class="col-span-12 lg:col-span-10 lg:col-start-2">
          <img ngSrc="assets/images/email/inventario2.jpg" alt="" class="relative border-2 border-gray-200 rounded-lg dark:border-dark-800 -bottom-5 dark:hidden" data-aos="fade-up" data-aos-duration="2000" data-aos-offset="300"
               height="714" width="1406">
        </div>
      </div>
    </div>
  </section>
</section>
