<div class="relative flex items-center justify-center min-h-screen py-12 bg-center bg-cover bg-[url('assets/images/others/auth.jpg')]">
  <div class="container relative">
    <div class="grid grid-cols-12 px-5">
      <div class="col-span-12 mb-0 border-none shadow-none md:col-span-10 lg:col-span-6 xl:col-span-4 md:col-start-2 lg:col-start-4 xl:col-start-5 card bg-white/10 backdrop-blur-md">
        <div class="py-4 md:p-5 card-body">
          <h4 class="mb-2 leading-relaxed text-center text-white">Crea una Nueva Cuenta</h4>
          <p class="w-full text-center text-white/75">Bienvenido al Sistema de Facturación</p>
          <form [formGroup]="signUpForm">

            <div class="grid grid-cols-12 gap-5 mt-5">
              <div class="col-span-12 md:col-span-6">
                <label for="firstNameInput" class="form-label mb-3">Nombre</label>
                <input type="text" id="firstNameInput" class="text-white border-none outline-none p-2 rounded-md w-full form-input bg-white/10 placeholder:text-white/75 focus:bg-purple-600/10 focus:border-purple-500 focus:ring-1 focus:ring-purple-500" placeholder="Ingresa tu primer nombre" formControlName="firstName">
                @if (validateField('firstName')) {
                  <p class="text-sm text-red-500">{{ getErrorMessage('firstName') }}
                  </p>
                }
              </div>

              <div class="col-span-12 md:col-span-6">
                <label for="lastNameInput" class="form-label">Apellido</label>
                <input type="text" id="lastNameInput" class="text-white border-none outline-none p-2 rounded-md w-full form-input bg-white/10 placeholder:text-white/75 focus:bg-purple-600/10 focus:border-purple-500 focus:ring-1 focus:ring-purple-500" placeholder="Ingresa tu primer apellido" formControlName="lastName">
                @if (validateField('lastName')) {
                  <p class="text-sm text-red-500">{{ getErrorMessage('lastName') }}</p>
                }
              </div>
              <div class="col-span-12 md:col-span-6">
                <label for="userNameInput" class="form-label">Username</label>
                <input type="text" id="userNameInput" class="text-white border-none outline-none p-2 rounded-md w-full form-input bg-white/10 placeholder:text-white/75 focus:bg-purple-600/10 focus:border-purple-500 focus:ring-1 focus:ring-purple-500" placeholder="Ingresa tu username" formControlName="userName">
                @if (validateField('userName')) {
                  <p class="text-sm text-red-500">{{ getErrorMessage('userName') }}</p>
                }
              </div>
              <div class="col-span-12 md:col-span-6">
                <label for="emailInput" class="form-label">Email</label>
                <input type="email" id="emailInput" class="text-white border-none outline-none p-2 rounded-md w-full form-input bg-white/10 placeholder:text-white/75 focus:bg-purple-600/10 focus:border-purple-500 focus:ring-1 focus:ring-purple-500" placeholder="Ingresa tu email" formControlName="email">
                @if (validateField('email')) {
                  <p class="text-sm text-red-500">{{ getErrorMessage('email') }}</p>
                }
              </div>

              <div class="col-span-12 mb-2">
                <div>
                  <label for="passwordInput" class="form-label">Password</label>
                  <div class="relative">
                    <input [type]="showPassword ? 'text' : 'password'" id="passwordInput" class="text-white border-none outline-none p-2 rounded-md w-full form-input bg-white/10 placeholder:text-white/75 focus:bg-purple-600/10 focus:border-purple-500 focus:ring-1 focus:ring-purple-500" placeholder="Ingresa tu password" formControlName="password">
                    <button type="button" (click)="showPassword = !showPassword" class="absolute inset-y-0 flex items-center text-gray-500 ltr:right-3 rtl:left-3 focus:outline-hidden">
                      @if (showPassword) {
                        <lucide-angular [img]="eye" class="size-5"></lucide-angular>
                      }
                      @if (!showPassword) {
                        <lucide-angular [img]="eyeOff" class="size-5"></lucide-angular>
                      }
                    </button>
                  </div>
                  @if (validateField('password')) {
                    <p class="text-sm text-red-500">{{ getErrorMessage('password') }}
                    </p>
                  }
                </div>
              </div>

              <div class="col-span-12 mb-2">
                <div>
                  <label for="confirmPasswordInput" class="form-label">Confirm Password</label>
                  <div class="relative">
                    <input [type]="showConfirmPassword ? 'text' : 'password'" id="confirmPasswordInput" class="text-white border-none outline-none p-2 rounded-md w-full form-input bg-white/10 placeholder:text-white/75 focus:bg-purple-600/10 focus:border-purple-500 focus:ring-1 focus:ring-purple-500" placeholder="Confirma tu password" formControlName="confirmPassword">
                    <button type="button" (click)="showConfirmPassword = !showConfirmPassword" class="absolute inset-y-0 flex items-center text-gray-500 ltr:right-3 rtl:left-3 focus:outline-hidden">
                      @if (showConfirmPassword) {
                        <lucide-angular [img]="eye" class="size-5"></lucide-angular>
                      }

                      @if (!showConfirmPassword) {
                        <lucide-angular [img]="eyeOff" class="size-5"></lucide-angular>
                      }
                    </button>
                  </div>
                  @if (validateField('confirmPassword')) {
                    <p class="text-sm text-red-500">
                      {{ getErrorMessage('confirmPassword') }}</p>
                  }
                </div>
              </div>
              <div class="col-span-12">
                <button type="submit" (click)="onSubmit()" class="w-full btn btn-primary">Sign Up</button>

                <div class="w-full flex justify-center items-center mt-5 gap-2">
                  <p class="text-white/75 text-right">¿Ya tienes una cuenta?
                  </p>
                  <a type="button" routerLink="/login" class="btn-icon font-medium text-purple-400 hover:text-purple-200"><lucide-angular [img]="user"></lucide-angular>Iniciar Sesión</a>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer />
